<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<script type="text/javascript">
    let socket = io();

    socket.on('connect', () => {
        console.log('Connected to the server');
    });
</script>

<ul>
  {{#each items}}
    <li>{{this.title}}</li>
  {{/each}}
</ul>



